{% extends "admin/base_site.html" %}

{% block content %}


<script>
function updateList(o) {
    var list = document.getElementById("id_recipiants_list");
    var len = list.options.length;
    var values;
    switch(o.options[o.selectedIndex].value) {
        case 'all':
            values = {{all|safe}};
            break;
        case 'unsubmited':
            values = {{unsubmited|safe}};
            break;
        case 'assigned':
            values = {{assigned|safe}};
            break;
    }
    
    list.value = [];
    
    if(!values){return;}
    
    for (var i = 0; i < len; i++) {
        if (values.indexOf(list[i].value) >= 0) {
            list[i].selected = true;
        }
    }
}
</script>


<h1>Send automated emails</h1>
<p>
</p>
<hr>

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <input type="submit" value="Send"/>
</form>


{% endblock %}
